{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="form-signin col-6 mx-auto border rounded shadow-sm p-3">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Вы уже вошли под именем {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, войдите!</h1>
    <div class="form-row  mt-2">
        <label for="inputLogin">Логин</label>
        <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
    </div>

    <div class="form-row  mt-2">
        <label for="inputPassword">Пароль</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <div class="row mt-4 justify-content-between">
        <div class="col-4">
            <button class="btn btn-success" type="submit">Войти</button>
        </div>
        <div class="col-6">
            <a href="{{ path('app_register') }}">Зарегистрироваться</a>
        </div>
    </div> 
</form>
</div>
{% endblock %}
