{% extends 'base.html.twig' %}

{% block title %}Страница новости{% endblock %}
    
{% block body %}
    <div class="post row g-0 flex-md-row mb-4 h-md-250 position-relative"> 
        <div class="btn-back">
            <a href="{{ path('posts', {page: thisPage} ) }}" class="btn btn-info">Назад</a>
        </div>

        <div class="date">
            {{ post.date|date('d.m.Y') }} 
        </div>

        <h1 class="header">{{ post.header }}</h1>

        <div class="img">
            <img src="{{ asset('/uploads/img/' ~ post.img) }}" height="400">
        </div>

        <div class="alltext p-2">
            {{ post.allText }}
        </div>
    </div>
{% endblock %}