{% extends 'base.html.twig' %}

{% block title %}Изменить новость{% endblock %}

{% block body %}
 
    {{ form_start(form) }}
    {{ form_row(form.header) }}
    <div class="mb-1 text-muted">Текущее изображение</div>
    <img src="{{ asset('/uploads/img/' ~ post.img) }}" height="400">
    {{ form_row(form.imgFile) }}
    
    {{ form_end(form) }}

{% endblock %}
